push constant 1
push constant 2
lt
not
if-goto FlowControl.L1
push constant 10
call Output.printInt 1
pop temp 0
goto FlowControl.L2
label FlowControl.L1
push constant 20
call Output.printInt 1
pop temp 0
label FlowControl.L2
push constant 0
return
