function IfWithoutElse.test 0
push constant 1
neg
not
if-goto IfWithoutElse.0.L1
push constant 10
call Output.printInt 1
pop temp 0
goto IfWithoutElse.0.L2
label IfWithoutElse.0.L1
label IfWithoutElse.0.L2
push constant 0
return
